/*
.table {
    border: 2px solid black;
    box-shadow: burlywood;
    padding: 80px;
    margin: 80px;
    position:absolute;

}

tr {
    border: 2px solid black;
    box-shadow: burlywood;
}

td {
    border: 2px solid black;
    box-shadow: burlywood;
}
*/